
.contactTemplate{
    background-color: #318CDA !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.ContactTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
    padding: 0 0.01rem 0 0.01rem;
}
.contactTemplateDashed{
    background-color: #318CDA !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 2px dashed !important;
}
.responsabletTag{
    background-color: #fff;
    width: 90% !important;
    font-size: 0.8rem;
    min-height: 0.9rem;
    border-radius: 4px;
    margin-bottom: 0.5rem !important;
}
.responsabletEmptyTag{
    width: 90% !important;
    font-size: 0.8rem;
    min-height: 0.9rem;
    border-radius: 4px;
    margin-bottom: 0.5rem !important;
}